.App {
    text-align: center;
    background-color: #ede8ee;
}

.home,
.reports,
.products {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.clerk-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.clerk-banner {
    text-align: center;
    border: 1px soild blue;
    height: 60px;
    background-color: #194761;
    margin-top: -25px;
    padding: 20px;
    color: #fff;
}

.clerk-navbar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: -20px;
    padding-left: 5px;
    height: 90vh;
    background-color: #194761;
    margin-left: -20px;
}

.clerk-input {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin-top: 0px;
    margin-left: 10px;
}

.item-form input {
    display: block;
    margin: 15px;
    padding: 10px;
    border: 1px solid grey;
    width: 100%;
}

.add-btn {
    margin: 1rem;
    padding: 10px;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

.nav-text:hover {
  background-color: #fff;
  color: #060b26;
}
.li-link{
    margin-top: 50px;

    width: 120px;
    background-color:#060b26 ;
    border-radius: 10px;
    border: 1px solid #fff;
}
.solo-link{
    margin-top: 20px;
    background-color:#060b26;
    border-radius: 10px;
    border: 1px solid #fff;
}
.li-link:hover{
    background-color: #fff;
    color: #060b26;
}
.solo-link:hover{
    background-color: #fff;
    color: #060b26; 
}
.logout-btn{
    margin-top: 70px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #060b26;
    border-radius: 5px;
    cursor: pointer;
}
.store-card{
    box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
}

