* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    background: #5A7296;
    color: #E5E5E5;
    height: 100vh;
    width: 259px;
    transition: all 0.5s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 20px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #E5E5E5;
    /* background: #E5E5E5; */
    padding: 10px 15px;
    gap: 25px;
    transition: all 0.5s;
}

.link:hover {
    background: #E5E5E5;
    color: #000;
    transition: all 0.5s;
}


/* .active {
    background: #E5E5E5;
    color: #000;
} */

.icon,
.link_text {
    font-size: 20px;
}